#quotas
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.add-user{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                Add New Custom Field

  .container
    .row
      .col-xs-12
        %h3
          Custom Fields

    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Deal Custom Fields
    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'dealCustomFieldName in dealCustomFieldNames', if: "dealCustomFieldNames.length > 0" } }
                %td.left
                  {{ dealCustomFieldName.position }}
                %td.left
                  {{ dealCustomFieldName.field_label }}
                %td.left
                  {{ dealCustomFieldName.field_type }}
                %td.left
                  {{ dealCustomFieldName.is_required ? "Yes" : "No" }}
                %td.left
                  {{ dealCustomFieldName.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ dealCustomFieldName.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(dealCustomFieldName, "deal")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(dealCustomFieldName, "deal")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: "!dealCustomFieldNames || dealCustomFieldNames.length == 0" } }
                %td{ colspan: "7"}
                  %center
                    No data available
    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Deal Product Custom Fields
    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'dealProductCustomFieldName in dealProductCustomFieldNames', if: "dealProductCustomFieldNames.length > 0" } }
                %td.left
                  {{ dealProductCustomFieldName.position }}
                %td.left
                  {{ dealProductCustomFieldName.field_label }}
                %td.left
                  {{ dealProductCustomFieldName.field_type }}
                %td.left
                  {{ dealProductCustomFieldName.is_required ? "Yes" : "No" }}
                %td.left
                  {{ dealProductCustomFieldName.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ dealProductCustomFieldName.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(dealProductCustomFieldName, "deal_product")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(dealProductCustomFieldName, "deal_product")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: "!dealProductCustomFieldNames || dealProductCustomFieldNames.length == 0" } }
                %td{ colspan: "7"}
                  %center
                    No data available
    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Account Custom Fields
    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'accountCustomFieldName in accountCustomFieldNames', if: "accountCustomFieldNames.length > 0" } }
                %td.left
                  {{ accountCustomFieldName.position }}
                %td.left
                  {{ accountCustomFieldName.field_label }}
                %td.left
                  {{ accountCustomFieldName.field_type }}
                %td.left
                  {{ accountCustomFieldName.is_required ? "Yes" : "No" }}
                %td.left
                  {{ accountCustomFieldName.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ accountCustomFieldName.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(accountCustomFieldName, "account")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(accountCustomFieldName, "account")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: "!accountCustomFieldNames || accountCustomFieldNames.length == 0" } }
                %td{ colspan: "7"}
                  %center
                    No data available

    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Contact Custom Fields
    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'contact_cf_name in contact_cf_names', if: "contact_cf_names.length > 0" } }
                %td.left
                  {{ contact_cf_name.position }}
                %td.left
                  {{ contact_cf_name.field_label }}
                %td.left
                  {{ contact_cf_name.field_type }}
                %td.left
                  {{ contact_cf_name.is_required ? "Yes" : "No" }}
                %td.left
                  {{ contact_cf_name.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ contact_cf_name.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(contact_cf_name, "contact")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(contact_cf_name, "contact")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: "!contact_cf_names || contact_cf_names.length == 0" } }
                %td{ colspan: "7"}
                  %center
                    No data available

    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Publisher Custom Fields

    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'publisher_custom_field_name in publisher_custom_field_names', if: 'publisher_custom_field_names.length > 0' } }
                %td.left
                  {{ publisher_custom_field_name.position }}
                %td.left
                  {{ publisher_custom_field_name.field_label }}
                %td.left
                  {{ publisher_custom_field_name.field_type }}
                %td.left
                  {{ publisher_custom_field_name.is_required ? "Yes" : "No" }}
                %td.left
                  {{ publisher_custom_field_name.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ publisher_custom_field_name.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(publisher_custom_field_name, "publisher")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(publisher_custom_field_name, "publisher")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: '!publisher_custom_field_names || publisher_custom_field_names.length == 0' } }
                %td{ colspan: '7' }
                  %center
                    No data available

    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Activity Custom Fields

    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'custom_field in activityCustomFieldNames', if: 'activityCustomFieldNames.length > 0' } }
                %td.left
                  {{ custom_field.position }}
                %td.left
                  {{ custom_field.field_label }}
                %td.left
                  {{ custom_field.field_type }}
                %td.left
                  {{ custom_field.is_required ? "Yes" : "No" }}
                %td.left
                  {{ custom_field.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ custom_field.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(custom_field, "activity")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(custom_field, "activity")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: '!activityCustomFieldNames || activityCustomFieldNames.length == 0' } }
                %td{ colspan: '7' }
                  %center
                    No data available

    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            PMP Items Custom Fields

    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'custom_field in pmpItemCustomFieldNames', if: 'pmpItemCustomFieldNames.length > 0' } }
                %td.left
                  {{ custom_field.position }}
                %td.left
                  {{ custom_field.field_label }}
                %td.left
                  {{ custom_field.field_type }}
                %td.left
                  {{ custom_field.is_required ? "Yes" : "No" }}
                %td.left
                  {{ custom_field.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ custom_field.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(custom_field, "pmp_item")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(custom_field, "pmp_item")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: '!pmpItemCustomFieldNames || pmpItemCustomFieldNames.length == 0' } }
                %td{ colspan: '7' }
                  %center
                    No data available

    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            IO Content Fee Custom Fields

    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'custom_field in contentFeeCustomFieldNames', if: 'contentFeeCustomFieldNames.length > 0' } }
                %td.left
                  {{ custom_field.position }}
                %td.left
                  {{ custom_field.field_label }}
                %td.left
                  {{ custom_field.field_type }}
                %td.left
                  {{ custom_field.is_required ? "Yes" : "No" }}
                %td.left
                  {{ custom_field.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ custom_field.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(custom_field, "content_fee")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(custom_field, "content_fee")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: '!contentFeeCustomFieldNames || contentFeeCustomFieldNames.length == 0' } }
                %td.auto-colspan
                  %center
                    No data available
    %br
