#quotas
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li.pull-right.last
              %a.add-user{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                Add New Custom Field

  .container
    .row
      .col-xs-12
        %h3
          Custom Fields

    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Deal Custom Fields
    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'dealCustomFieldName in dealCustomFieldNames', if: "dealCustomFieldNames.length > 0" } }
                %td.left
                  {{ dealCustomFieldName.position }}
                %td.left
                  {{ dealCustomFieldName.field_label }}
                %td.left
                  {{ dealCustomFieldName.field_type }}
                %td.left
                  {{ dealCustomFieldName.is_required ? "Yes" : "No" }}
                %td.left
                  {{ dealCustomFieldName.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ dealCustomFieldName.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(dealCustomFieldName, "deal")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(dealCustomFieldName, "deal")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: "!dealCustomFieldNames || dealCustomFieldNames.length == 0" } }
                %td{ colspan: "7"}
                  %center
                    No data available
    %br
    .row
      .col-xs-4.quota-period
        .row
          .col-xs-12
            Deal Product Custom Fields
    .row
      .col-xs-12
        .table-wrapper
          %table.table.table-hover.table-striped
            %thead
              %tr
                %th.left Position
                %th.left Name
                %th.left Type
                %th.left Required
                %th.left Show on Modal
                %th.left Disabled
                %th.action-column
            %tbody
              %tr{ ng: { repeat: 'dealProductCustomFieldName in dealProductCustomFieldNames', if: "dealProductCustomFieldNames.length > 0" } }
                %td.left
                  {{ dealProductCustomFieldName.position }}
                %td.left
                  {{ dealProductCustomFieldName.field_label }}
                %td.left
                  {{ dealProductCustomFieldName.field_type }}
                %td.left
                  {{ dealProductCustomFieldName.is_required ? "Yes" : "No" }}
                %td.left
                  {{ dealProductCustomFieldName.show_on_modal ? "Yes" : "No" }}
                %td.left
                  {{ dealProductCustomFieldName.disabled ? "Yes" : "No" }}
                %td.action-td
                  %a.edit-team{ href: '', ng: { click: 'editModal(dealProductCustomFieldName, "deal_product")' } }
                    = inline_svg 'icons/pencil.svg'
                  %a.delete-team{ href: '', ng: { click: 'delete(dealProductCustomFieldName, "deal_product")' } }
                    = inline_svg 'icons/trash.svg'
              %tr{ ng: { if: "!dealProductCustomFieldNames || dealProductCustomFieldNames.length == 0" } }
                %td{ colspan: "7"}
                  %center
                    No data available

