#data_import
  .container
    .row
      .col-xs-6
        %h3 Data Import
      .col-xs-6
        %h3 Data Export

    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 Accounts Import
            %h5 Select a CSV file and upload it using the account import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadClientModal()' } }
                = inline_svg 'icons/import.svg'
                Import Accounts
      .col-sm-6
        .panel
          .panel-body
            %h4 Accounts Export
            %h5 Click here to export Accounts
            %li.export
              %a{ href: '', ng: { click: 'exportClients()' } }
                = inline_svg 'icons/import.svg'
                Export Accounts
    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 Deals Import
            %h5 Select a CSV file and upload it using the deal import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadDealsModal()' } }
                = inline_svg 'icons/import.svg'
                Import Deals


      .col-sm-6
        .panel
          .panel-body
            %h4 Deals Export
            %h5 Click here to export Deals
            %li.export
              %a{ href: '', ng: { click: 'exportDeals()' } }
                = inline_svg 'icons/import.svg'
                Export Deals

    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 Deal Products Import
            %h5 Select a CSV file and upload it using the deal products import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadDealProductModal()' } }
                = inline_svg 'icons/import.svg'
                Import Deal Products

      .col-sm-6
        .panel
          .panel-body
            %h4 Deal Products Export
            %h5 Click here to export Deal Products data
            %li.export
              %a{ href: '', ng: { click: 'exportDealProducts()' } }
                = inline_svg 'icons/import.svg'
                Export Deals

    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 Deal Product Monthly Budget Import
            %h5 Select a CSV file and upload it using the deal products import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadDealProductBudgetModal()' } }
                = inline_svg 'icons/import.svg'
                Import Deal Product Monthly Budget

      .col-sm-6
        .panel
          .panel-body
            %h4 Deal Product Monthly Budget Export
            %h5 Click here to export Deal Product Monthly Budget data
            %li.export
              %a{ href: '', ng: { click: 'exportDealProductMonhtlyBudget()' } }
                = inline_svg 'icons/import.svg'
                Export Deal Product Monthly Budget

    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 Contacts Import
            %h5 Select a CSV file and upload it using the contact import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadContactsModal()' } }
                = inline_svg 'icons/import.svg'
                Import Contacts
      .col-sm-6
        .panel
          .panel-body
            %h4 Contacts Export
            %h5 Click here to export Contacts
            -#%li.export
            -#  %a.upload{ href: '', ng: { click: 'exportContacts()' } }
            -#    = inline_svg 'icons/import.svg'
            -#    Export Contacts
            %li.import
              Coming soon...

    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 IO Import
            %h5 Select a CSV file and upload it using the IO import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadDisplayIOModal()' } }
                = inline_svg 'icons/import.svg'
                Import IOs
      .col-sm-6
        .panel
          .panel-body
            %h4 IO Export
            %h5 Click here to export IOs
            %li.import
              Coming soon...
    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 IO Monthly Product Budget Import
            %h5 Select a CSV file and upload it using the IO Monthly Budget Import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadDisplayIOMonthlyBudgetModal()' } }
                = inline_svg 'icons/import.svg'
                Import IO Monthly Budgets
      .col-sm-6
        .panel
          .panel-body
            %h4 IO Monthly Product Budget Export
            %h5 Click here to export IO Monthly Product Budget
            %li.export
              %a{ href: '', ng: { click: 'exportDisplayIOMonthlyBudgets()' } }
                = inline_svg 'icons/import.svg'
                Export IO Monthly Product Budgets

    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 Activities Import
            %h5 Select a CSV file and upload it using the activity import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadActivityModal()' } }
                = inline_svg 'icons/import.svg'
                Import Activities
      .col-sm-6
        .panel
          .panel-body
            %h4 Activities Export
            %h5 Click here to export Activities
            -#%li.export
            -#  %a.upload{ href: '', ng: { click: 'exportActivities()' } }
            -#    = inline_svg 'icons/import.svg'
            -#    Export Activities
            %li.import
              Coming soon...

    .row
      .col-sm-6
        .panel
          .panel-body
            %h4 Sales Orders Import
            %h5 Select a CSV file and upload it using the import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadSalesOrdersModal()' } }
                = inline_svg 'icons/import.svg'
                Import Sales Orders
      .col-sm-6
        .panel
          .panel-body
            %h4 Sales Order Line Items Import
            %h5 Select a CSV file and upload it using the import module
            %li.import
              %a.upload{ href: '', ng: { click: 'showUploadSalesOrderLineItemsModal()' } }
                = inline_svg 'icons/import.svg'
                Import Sales Order Line Items
