#activities
  %form{ name: 'activity_form', ng: { submit: 'submitForm(activity_form)' } }
    #note
      %h3
        My Activities
      %textarea.box.w1{:cols => "30", :name => "reply", :rows => '2', placeholder: 'Type your update here', ng: { model: 'activity.comment' } }

    #nav.transparent
      %ul.nav.nav-tabs
        %li{ ng: { class: "{ active: activeTab == 'Object' }" } }
          %a.search{ href: '', ng: { click: 'setActiveTab("Object")' } }
            = inline_svg 'icons/search.svg'
        %li{ ng: { class: "{ active: activeTab == 'Type' }" } }
          %a.link{ href: '', ng: { click: 'setActiveTab("Type")' } }
            = inline_svg 'icons/message.svg'
        %li.pull-right
          %button.btn.btn-primary.btn-block{ type: 'submit' } Post Update

    #contain.tab{ ng: { show: 'activeTab == "Object"' } }
      .row
        %a.close{ ng: { click: 'cancelActivity()' } }
          %span{'aria-hidden' => 'true'}
            = inline_svg 'icons/close.svg'
        .btn-group
          %label.open-button.btn.btn-primary1{ ng: { model: 'selectedObj.deal' }, btn: { radio: 'true' } }
            Deals
          %label.close-button.btn.btn-primary1{ ng: { model: 'selectedObj.deal' }, btn: { radio: 'false' } }
            Clients
      .row
        %input.box2.w2{ placeholder: 'Type a name', ng: { model: 'selectedObj.obj' }, type: 'text', typeahead: 'item as item.formatted_name for item in searchObj($viewValue)' }
    #contain.tab{ ng: { show: 'activeTab == "Type"' } }
      .row
        %a.close{ ng: { click: 'cancelActivity()' } }
          %span{'aria-hidden' => 'true'}
            = inline_svg 'icons/close.svg'
      .row
        .col-xs-4
          .list-group.list-sm.stages
            %a.list-group-item.vertical-center.type-menu{ href: '', ng: { repeat: 'type in types', click: 'setActiveType(type)', class: '{ active: activeType == type }' } }
              %img.s-img{:src => "{{ type.icon }}"}/
              %h5
                {{ type.name }}
        .col-xs-6
          #contain1{ ng: { repeat: 'type in types', show: 'activeType == type' } }
            .row.type1
              %a#add-contact{ href: '', ng: { click: 'createNewContactModal()' } }
                = inline_svg 'icons/add.svg'
              {{ type.action }}*
              %br
              %input.box.w4{ placeholder: 'Type a name', ng: { model: 'selected[type.name].contact' }, type: 'text', typeahead: 'item as item.name for item in searchContact($viewValue)' }
            .row.type2
              Date
              %br
              %span.bs-datepicker
                %input.box.w4{ name: 'date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'selected[type.name].date', required: true, click: 'callDateOpened = true' }, 'is-open': 'callDateOpened' }
            .row.type2
              Time
              %timepicker-pop.input-group{"input-time" => "selected[type.name].time", "show-meridian" => "showMeridian"}
