.row
  #devise-form.col-xs-4.center-block.text-center.center-element
    .col-xs-6.center-block.center-element
      %a{href: '/'}
        = inline_svg 'branding/boostr_logo.svg', class: 'logo'
    .header Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .row
        .col-xs-10.center-block.center-element
          %p
            = f.email_field :email, autofocus: true, class:'btn btn-lg btn-info btn-block', placeholder: 'email'
          %p
            = f.submit 'Send password reset', class:'btn btn-lg btn-primary btn-block'
    = render "devise/shared/links"
