%h1 New Deals
- @new_deals.each do |new_deal|
  %p
    #{ new_deal['name'] } - #{ new_deal['advertiser_name'] } - #{ new_deal['budget'] } - #{ new_deal['start_date'] } - #{ new_deal['stage_name'] }

%h1 Advanced Deals
- @advanced_deals.each do |advanced_deal|
  %p
    #{ advanced_deal['name'] } - #{ advanced_deal['advertiser_name'] } - #{ advanced_deal['budget'] } - #{ advanced_deal['start_date'] } - #{ advanced_deal['stage_name'] } - From #{ advanced_deal['deal_stage_log_previous_stage_id'] } - To #{ advanced_deal['stage_id'] }

%h1 Won Deals
- @won_deals.each do |won_deal|
  %p
    #{ won_deal['name'] } - #{ won_deal['advertiser_name'] } - #{ won_deal['budget'] } - #{ won_deal['start_date'] }

%h1 Lost Deals
- @lost_deals.each do |lost_deal|
  %p
    #{ lost_deal['name'] } - #{ lost_deal['advertiser_name'] } - #{ lost_deal['budget'] } - #{ lost_deal['start_date'] }