#clients
  #nav
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                {{ clientFilter.name }}
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'filter in clientFilters', class: '{active: filter.name == clientFilter.name}' } }
                  %a{ href: '', ng: { click: 'filterClients(filter)' } }
                    {{ filter.name }}
            %li.pull-right.last
              %a.export{ href: '', ng: { click: 'exportClients()' } }
                Export
            %li.pull-right
              %a.upload{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                New Client

  .container{ ng: { hide: 'clients && clients.length > 0 ' } }
    .row
      .col-xs-6.col-xs-offset-3
        .well.text-center
          %h5
            There are no clients to display.
            %a{ href: '', ng: { click: 'showModal()' } }
              Add a client.
  .container{ ng: { show: 'clients.length > 0' } }
    .row
      .col-xs-6
        .search
      .col-xs-6

    .row
      #client-list.col-xs-5
        .list-group.list-lg
          %a.list-group-item.vertical-center{href: '/#clients/{{ client.id }}?filter={{ clientFilter.param }}', ng: { repeat: 'client in clients | orderBy: "name"', class: '{ active: client.id == currentClient.id }' } }
            .col-xs-8.col-xs-offset-4
              .row
                %h4
                  {{ client.name }}
              .row
                {{ client.contacts_count }} people   {{ client.deals_count }}  deals
      #client-detail.col-xs-7
        .tools.pull-right
          %a#delete-client{ href: '', ng: { click: 'delete()' } }
            = inline_svg 'icons/trash.svg'
          %a#edit-client{ href: '', ng: { click: 'showEditModal()' } }
            = inline_svg 'icons/edit.svg'
        %h2.client-name
          {{ currentClient.name }}
          %br
          .location
            {{ currentClient.address.city }}, {{ currentClient.address.state}}
        #details
          .wells-group
            .well
              .row
                .col-xs-3
                  %strong
                    Office
                .col-xs-9.detail
                  {{ currentClient.address.phone | tel }}
              .row
                .col-xs-3
                  %strong
                    Email
                .col-xs-9.detail
                  {{ currentClient.address.email }}
            .well
              .row
                .col-xs-3
                  %strong
                    Address
                .col-xs-9.detail
                  {{ currentClient.address.street1 }}
                  %br
                  {{ currentClient.address.city }}, {{ currentClient.address.state }}  {{ currentClient.address.zip }}
            .well
              .row
                .col-xs-3
                  %strong
                    Website
                .col-xs-9.detail
                  %a{ ng: { href: 'http://{{ currentClient.website }}' }, target: '_blank' }
                    {{ currentClient.website }}
            .well
              .row
                .col-xs-3
                  %strong
                    Client Type
                .col-xs-9.detail
                  {{ currentClient.client_type.option.name }}

        #teamsplits.section
          %span.pull-right
            %a.new-member{ href: '', ng: { click: 'showNewMemberModal()' } }
              = inline_svg 'icons/add.svg'

          %h2
            default team & split

          .well.no-client-members{ ng: { hide: 'client_members.length > 0' } }
            .row
              .col-xs-12
                There are no members yet.
                %a{ href: '', ng: { click: 'showNewMemberModal()' } }
                  Add a new member.
          .table-wrapper{ ng: { show: 'client_members.length > 0' } }
            %table.table.table-striped
              %thead
                %tr
                  %th.left Member
                  %th.right.share Share
                  %th.left.role Role
              %tbody
                %tr{ ng: { repeat: 'client_member in client_members' } }
                  %td.left
                    {{ client_member.user.first_name }} {{ client_member.user.last_name }}
                  %td.right
                    %span{ 'e-name': 'share', editable: { text: 'client_member.share' }, onaftersave: 'updateClientMember(client_member)' }
                      {{ client_member.share }}%
                  %td.left
                    %span{ 'e-name': 'role', editable: { select: 'client_member.role.option_id' }, 'e-ng-options': 'option.id as option.name for option in client_member.role.options', onaftersave: 'updateClientMember(client_member)' }
                      {{ client_member.role.option.name }}

        #people.section
          %span.pull-right{ dropdown: true, 'dropdown-append-to-body': true, 'auto-close': 'outsideClick'  }
            %a.add-contact{ href: '', dropdown: { toggle: true }}
              = inline_svg 'icons/add.svg'
            %ul.dropdown-menu.new-contact-options
              %li
                %a.new-person{ href: '', ng: { click: 'showNewPersonModal()' } }
                  Add New Person
              %li
                %a.existing-contact{ href: '', ng: { click: 'showLinkExistingPerson()' } }
                  Link Existing Person
              %li.existing-contact-options{ ng: { show: 'showContactList' } }
                %ui-select{ name: 'contact-list', ng: { model: 'contactToLink', disabled: true }, 'append-to-body': 'true', 'on-select': 'linkExistingPerson($item, $model)' }
                  %ui-select-match{ placeholder: 'start typing their name here' }
                    {{ $select.selected.name }}
                  %ui-select-choices{ repeat: 'contact in contacts | filter: { name: $select.search }' }
                    %div{ ng: { bind: { html: 'contact.name' } } }

          %h2
            people

          .well.no-people{ ng: { hide: 'currentClient.contacts.length > 0' } }
            .row
              .col-xs-12
                There are no people yet.
                %a{ href: '', ng: { click: 'showNewPersonModal()' } }
                  Add a new person.
          .wells-group
            .well{ ng: { repeat: 'contact in currentClient.contacts', click: 'go("/people/" + contact.id)' } }
              .row
                .col-xs-11
                  .row
                    .col-xs-12
                      %strong
                        {{ contact.name }}, {{ contact.position }}
                  .row
                    .col-xs-12
                      {{ contact.address.email }} {{ contact.address.mobile | tel }}
                .col-xs-1
                  = inline_svg 'icons/caret.svg', class: 'pull-right'

        #deals.section
          %span.pull-right
            %a.new-deal{ href: '', ng: { click: 'showNewDealModal()' } }
              = inline_svg 'icons/add.svg'

          %h2
            deals

          .well.no-deals{ ng: { hide: 'currentClient.deals.length > 0' } }
            .row
              .col-xs-12
                There are no deals yet.
                %a{ href: '', ng: { click: 'showNewDealModal()' } }
                  Add deal.
          .wells-group
            .well{ ng: { repeat: 'deal in currentClient.deals', click: 'go("/deals/" + deal.id)' } }
              .row
                .col-xs-11
                  .row
                    .col-xs-12
                      %strong
                        {{ deal.name }}
                  .row
                    .col-xs-12
                      .col-xs-4.vertical-line
                        {{ deal.stage.name }}
                      .col-xs-3.vertical-line
                        {{ deal.budget / 100 | currency: '$': 0 }}
                      .col-xs-5.vertical-line
                        Starting {{ deal.start_date | date: 'shortDate' }}
                .col-xs-1
                  = inline_svg 'icons/caret.svg', class: 'pull-right'
