#clients
  #nav.transparent
    .container
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li{ dropdown: true }
              %a{ href: '', dropdown: { toggle: true } }
                {{ clientFilter.name }}
                %span.caret
              %ul.dropdown-menu
                %li{ ng: { repeat: 'filter in clientFilters', class: '{active: filter.name == clientFilter.name}' } }
                  %a{ href: '', ng: { click: 'filterClients(filter)' } }
                    {{ filter.name }}

            %li.pull-right
              %a.upload{ href: '', ng: { click: 'showModal()' } }
                = inline_svg 'icons/add.svg'
                New Account

  .container{ ng: { hide: 'query.length || (clients && clients.length > 0) || currentClient' } }
    .row
      .col-xs-6.col-xs-offset-3
        .well.text-center
          %h5
            There are no accounts to display.
            %a{ href: '', ng: { click: 'showModal()' } }
              Add a account.
  .container{ ng: { show: 'query.length || clients.length > 0 || currentClient' } }
    .row
      #client-list.col-xs-4
        %script{ type: 'text/ng-template', id: 'partials/client_list_item.html' }
          %h4
            {{ item.name }}
          .subtitle
            {{ item.contacts_count }} people, {{ item.deals_count }} deals
        %div{ 'object-list': true, items: 'clients', query: 'query', 'on-search': 'searchClients', 'on-select': 'showClient', 'on-load-more': 'loadMoreClients', selected: 'currentClient', template: 'partials/client_list_item.html' }
        -#%div.btn-wrap-add-client
        -#  %a#add-client{ href: '', ng: { click: 'showModal()' } }
        -#    %b +
        -#    New Client
      #client-detail.col-xs-8{ ng: { show: 'currentClient' } }
        .tools.pull-right
          %a#delete-client{ href: '', ng: { click: 'delete()' } }
            = inline_svg 'icons/trash.svg'
          %a#edit-client{ href: '', ng: { click: 'showEditModal()' } }
            = inline_svg 'icons/edit.svg'
        %h2.client-name
          %span
            {{ currentClient.name }}
          .show-create-remainders-popup
            %label.clock{ 'for': 'clients-reminders'}
              = inline_svg 'icons/reminder-icon-clock.svg'

            %input#clients-reminders.show-form-create-reminders{ type: 'checkbox', ng: { model: 'showReminder' } }
            %div.wrap-form{ ng: { show: 'showReminder' } }
              #reminder_modal
                .modal-header.text-center
                  %label{'aria-hidden' => 'true', 'for' => 'clients-reminders',  ng: { click: 'cancel()' }}
                    = inline_svg 'icons/close.svg'
                %form{ name: 'clientReminderForm', ng: { submit: 'submitReminderForm()' } }
                  .modal-body
                    .form-group.reminder-name-wrap{ ng: { class: '{error: reminderOptions.errors.Name}' } }
                      %label.control-label{ for: 'name', ng: { class: '{error: reminderOptions.errors.Name}' }  } Reminder name*
                      %input.form-control.reminder-name{ placeholder: '', ng: { model: 'reminder.name', class: '{error: reminderOptions.errors.Name}' }, name: 'name'}

                    .form-group.reminder-date-wrap{ ng: { class: '{error: reminderOptions.errors.Date}' } }
                      %label.control-label{ for: 'date', ng: { class: '{error: reminderOptions.errors.Date}' } } Remind on date*
                      %span.bs-datepicker
                        %input.box.w4.reminder-date{ name: 'date', type: 'text', datepicker: { popup: 'MMMM d, y' }, ng: { model: 'reminder._date', required: true, click: 'callDateOpened = true', class: '{error: reminderOptions.errors.Date}' }, 'is-open': 'callDateOpened' }

                    .form-group.reminder-on-time-wrap{ ng: { class: '{error: reminderOptions.errors.Time}' } }
                      %label.control-label{ for: 'stage', ng: { class: '{error: reminderOptions.errors.Time}' } } Remind on time*
                      %timepicker-pop.input-group.reminder-on-time{"input-time" => "reminder._time", "show-meridian" => "reminderOptions.showMeridian", ng: { class: '{ error: reminderOptions.errors.Time }' }}

                    .form-group.reminder-note-wrap
                      %label.control-label{ for: 'comment' } Reminder note
                      %textarea.form-control.reminder-note{ placeholder: '', ng: { model: 'reminder.comment' }, name: 'comment' }

                  .modal-footer.text-center
                    %button.btn.btn-primary.btn-lg.btn-add-remainder{ type: 'submit', ng: { disabled: 'reminderOptions.buttonDisabled' } } Set Reminder

          %br
          .location
            {{ currentClient.address.city }}{{ currentClient.address.city && currentClient.address.state ? ', ' : '' }}{{ currentClient.address.state}}
        #details
          .wells-group
            .well
              .row
                .col-xs-3
                  %strong
                    Address
                .col-xs-9.detail
                  %div {{ currentClient.address.street1 }}
                  %div {{ concatAddress(currentClient.address) }}
            .well
              .row
                .col-xs-3
                  %strong
                    Phone
                .col-xs-9.detail.orange
                  {{ currentClient.address.phone | tel }}
            .well
              .row
                .col-xs-3
                  %strong
                    Email
                .col-xs-9.detail.orange
                  {{ currentClient.address.email }}
            .well
              .row
                .col-xs-3
                  %strong
                    Website
                .col-xs-9.detail.orange
                  %a{ ng: { href: 'http://{{ currentClient.website }}' }, target: '_blank' }
                    {{ currentClient.website }}
            .well
              .row
                .col-xs-3
                  %strong
                    Account Type
                .col-xs-9.detail
                  {{ currentClient.client_type.option.name }}
            .well{ ng: {if: 'currentClient.client_category_id'} }
              .row
                .col-xs-3
                  %strong
                    Account Category
                .col-xs-9.detail
                  {{ currentClient.client_category.name }}
            .well{ ng: {if: 'currentClient.client_subcategory_id'} }
              .row
                .col-xs-3
                  %strong
                    Account Subcategory
                .col-xs-9.detail
                  {{ currentClient.client_subcategory.name }}
            .well
              .row
                .col-xs-3
                  %strong
                    {{ currentClient.client_type.option.name === 'Advertiser' ? 'Global Parent' : 'Holding Company' }}
                .col-xs-9.detail
                  {{ currentClient.parent_client.name }}

        #advertisers-people.section
          %h2.advertisers-wrap-title-section{ ng: { show: "currentClient.client_type.option.name == 'Agency'" } }
            %span.sub-title-text
              advertisers & related people

          %div{ ng: { include: "'partials/activities_related_advertisers_and_people.html'", show: "currentClient.client_type.option.name == 'Agency'" } }

        #activities
          %div{'ng-include': '"partials/dashboard/activity.html"'}

        #teamsplits.section
          %span.pull-right
            %a.new-member{ href: '', ng: { click: 'showNewMemberModal()' } }
              = inline_svg 'icons/add.svg'

          %h2
            default team & split

          .well.no-client-members{ ng: { hide: 'client_members.length > 0' } }
            .row
              .col-xs-12
                There are no members yet.
                %a{ href: '', ng: { click: 'showNewMemberModal()' } }
                  Add a new member.
          .table-wrapper{ ng: { show: 'client_members.length > 0' } }
            %table.table.table-striped
              %thead
                %tr
                  %th.left Member
                  %th.right.share Share
                  %th.left.role Role
                  %th
              %tbody
                %tr{ ng: { repeat: 'client_member in client_members' } }
                  %td.left
                    {{ client_member.user.first_name }} {{ client_member.user.last_name }}
                  %td.right
                    %span{ 'e-name': 'share', editable: { text: 'client_member.share' }, onaftersave: 'updateClientMember(client_member)' }
                      {{ client_member.share }}%
                  %td.left
                    %span{ 'e-name': 'role', editable: { select: 'client_member.role.option_id' }, 'e-ng-options': 'option.id as option.name for option in client_member.role.options', onaftersave: 'updateClientMember(client_member)' }
                      {{ client_member.role.option.name }}
                  %td.right
                    %a.trash.remove-contact{ href: '', ng: { click: 'removeClientMember(client_member)' } }
                      = inline_svg 'icons/trash.svg'

        #people.section
          %span.pull-right{ dropdown: true, 'dropdown-append-to-body': true, 'auto-close': 'outsideClick'  }
            %a.add-contact{ href: '', dropdown: { toggle: true }}
              = inline_svg 'icons/add.svg'
            %ul.dropdown-menu.new-contact-options
              %li
                %a.new-person{ href: '', ng: { click: 'showNewPersonModal()' } }
                  Add New Person
              %li
                %a.existing-contact{ href: '', ng: { click: 'showLinkExistingPerson()' } }
                  Link Existing Person
              %li.existing-contact-options{ ng: { show: 'showContactList' } }
                %ui-select{ name: 'contact-list', ng: { model: 'contactToLink', disabled: true }, 'append-to-body': 'true', 'on-select': 'linkExistingPerson($item, $model)' }
                  %ui-select-match{ placeholder: 'start typing their name here' }
                    {{ $select.selected.name }}
                  %ui-select-choices{ repeat: 'contact in contacts | filter: { name: $select.search }' }
                    %div{ ng: { bind: { html: 'contact.name' } } }

          %h2
            people

          .well.no-people{ ng: { hide: 'currentClient.contacts.length > 0' } }
            .row
              .col-xs-12
                There are no people yet.
                %a{ href: '', ng: { click: 'showNewPersonModal()' } }
                  Add a new person.
          .wells-group
            .well.contact-info{ ng: { repeat: 'contact in currentClient.contacts' } }
              .row
                .col-xs-9
                  .row
                    .col-xs-12
                      %strong
                        {{ contact.name }}, {{ contact.position }}
                  .row
                    .col-xs-12
                      {{ contact.address.email }} {{ contact.address.mobile | tel }}
                .col-xs-1
                  .action
                    %button{ class: "btn btn-primary btn-block", ng: { show: "currentClient.client_type.option.name == 'Agency'", click: "showAssignContactModal(contact)" } }
                      Assign
                .col-xs-1
                .col-xs-1{ ng: { click: 'go("/people/" + contact.id)' } }
                  = inline_svg 'icons/caret.svg', class: 'pull-right'

        #client-deals.section
          %span.pull-right
            %a.new-deal{ href: '', ng: { click: 'showNewDealModal()' } }
              = inline_svg 'icons/add.svg'

          %h2
            deals

          .well.no-deals{ ng: { hide: 'currentClient.deals.length > 0' } }
            .row
              .col-xs-12
                There are no deals yet.
                %a{ href: '', ng: { click: 'showNewDealModal()' } }
                  Add deal.
          .wells-group
            .well{ ng: { repeat: 'deal in currentClient.deals', click: 'go("/deals/" + deal.id)' } }
              .row
                .col-xs-11
                  .row
                    .col-xs-12
                      %strong
                        {{ deal.name }}
                  .row
                    .col-xs-12
                      .col-xs-4.vertical-line
                        {{ deal.stage.name }}
                      .col-xs-3.vertical-line
                        {{ deal.budget | currency: '$': 0 }}
                      .col-xs-5.vertical-line
                        Starting {{ deal.start_date | date: 'shortDate' }}
                .col-xs-1
                  = inline_svg 'icons/caret.svg', class: 'pull-right'
