#deal
  .container
    .row.return
      .col-xs-12
        %a{ href:'/deals' }
          = inline_svg 'icons/caret.svg', class: 'transform'
          Back to Deals

    #deal_overview.row.campaign
      .col-xs-9
        %h3.deal-name{ editable: { text: 'currentDeal.name' }, onaftersave: 'updateDeal()', 'e-name': 'deal-name' }
          {{ currentDeal.name }}
    #nav.transparent
      .row
        .col-xs-12
          %ul.nav.nav-tabs
            %li{ ng: { repeat: 'anchor in anchors', class: '{ active: isActive(anchor.id) }' } }
              %a{ ng: { click: 'scrollTo(anchor.id)' } }
                {{ anchor.name }}
            %li.pull-right.nav-text.last
              Updated {{ currentDeal.updated_at | date: 'MMMM d, y' }}

    #campaign
      %h3.header
        Campaign
      .well
        .row
          .col-xs-4.campaign-period
            .row
              .col-xs-12
                Campaign Period
            .row
              .col-xs-12
                %h4.bs-datepicker
                  %span.edit{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.start_date', click: 'startOpened = true', class: '{ editing: startOpened }', change: 'updateDeal()' }, 'is-open': 'startOpened' }
                    {{ currentDeal.start_date | date: 'MMM d, y': '+0000' }}
                  \-
                  %span.edit{ datepicker: { popup: 'MMMM d, y', timezone: true }, ng: { model: 'currentDeal.end_date', click: 'endOpened = true', class: '{ editing: endOpened }', change: 'updateDeal()' }, 'is-open': 'endOpened' }
                    {{ currentDeal.end_date | date: 'MMM d, y': '+0000' }}

          .col-xs-2.campaign-period.text-center
            .row
              .col-xs-12
                Total Amount
            .row
              .col-xs-12
                %h4#total-amount
                  {{ currentDeal.budget / 100 | currency: '$': 0 }}
          .col-xs-2.campaign-period.text-center
            .row
              .col-xs-12
                Forecast Amount
            .row
              .col-xs-12
                %h4#forecast
                  {{ currentDeal.budget / 100 * currentDeal.stage.probability / 100 | currency: '$' :0 }}
          .col-xs-2.campaign-period.text-center
            .row
              .col-xs-12
                Current Stage
            .row
              .col-xs-12
                %h5
                  .stage{ editable: { select: 'currentDeal.stage_id' }, 'e-ng-options': 'stage.id as stage.name for stage in stages', onaftersave: 'updateDeal()', onshow: 'getStages()' }
                    {{ currentDeal.stage.name }}
                    .small
                      {{ currentDeal.stage.probability }}% probability
      #revenue_schedule.table-wrapper
        %table.table.white-table
          %thead
            %tr
              %th Product
              %th.right Total Budget
              %th.right{ ng: { repeat: 'month in currentDeal.months' } }
                {{ month | boDate }}

          %tbody
            %tr{ ng: { repeat: 'product in currentDeal.products' } }
              %td
                %span.hover-delete{ ng: { click: 'deleteProduct(product)' } }
                  = inline_svg 'icons/trash.svg'
                {{ product.name }}
              %td.right
                {{ product.total_budget / 100 | currency:'$':0  }}
              %td.right{ ng: { repeat: 'deal_product in product.deal_products' } }
                %span{ 'e-name': '{{ deal_product.id }}', editable: { text: 'deal_product.budget' }, onaftersave: 'updateDealProduct(deal_product)' }
                  {{ deal_product.budget | currency:'$':0 }}

      #new-product.well.dark
        .row{ ng: { hide: 'showProductForm' } }
          .col-xs-12
            %a.add-product{ href: '', ng: { click: 'toggleProductForm()' } }
              = inline_svg 'icons/add.svg'
              Add Product
        .row{ ng: { show: 'showProductForm' } }
          .col-xs-12
            %form#product-form{ ng: { submit: 'addProduct()' } }
              .row
                .col-xs-2
                  .row.bordered
                    .col-xs-12
                      .form-group
                        %label.control-label{ for: 'product' } Product
                        %ui-select{ name: 'product', ng: { model: 'deal_product.product_id', disabled: true, required: true } }
                          %ui-select-match{ placeholder: 'Product' }
                            {{ $select.selected.name }}
                          %ui-select-choices{ repeat: 'product.id as product in products | filter: { name: $select.search }' }
                            %div{ ng: { bind: { html: 'product.name' } } }
                  .row.bordered
                    .col-xs-12
                      .form-group
                        %label.control-label{ for: 'total_budget' } Total Budget
                        %input.form-control{ placeholder: 'Total Budget', ng: { model: 'deal_product.total_budget', required: true }, name: 'total_budget' }
                  .row
                    .col-xs-12
                      %button.btn.btn-primary.btn-block{ type: 'submit' } Add Product
                    .col-xs-12
                      %button#cancel.btn.btn-default.btn-block{ng: { click: 'cancelAddProduct()' }, type: 'button' } Cancel
                .col-xs-10
                  .row.months
                    .col-xs-2{ ng: { repeat: 'month in deal_product.months' } }
                      .form-group
                        %label.control-label Month \#{{ $index + 1 }}
                        %input.form-control{ ng: { model: 'month.value'}, disabled: true }

    #teamsplit.row
      .col-xs-12
        #members.section
          %span.pull-right{ dropdown: true, 'dropdown-append-to-body': true, 'auto-close': 'outsideClick'  }
            %a.add-member{ href: '', dropdown: { toggle: true }, ng: { click: 'showLinkExistingUser()' } }
              = inline_svg 'icons/add.svg'
            %ul.dropdown-menu.new-member-options
              %li.existing-user-options
                %ui-select{ name: 'user-list', ng: { model: 'userToLink', disabled: true }, 'append-to-body': 'true', 'on-select': 'linkExistingUser($item)' }
                  %ui-select-match{ placeholder: 'start typing their name here' }
                    {{ $select.selected.name }}
                  %ui-select-choices{ repeat: 'user in users | filter: { name: $select.search }' }
                    %div{ ng: { bind: { html: 'user.name' } } }

        %h3.header
          Team & Split

        #teamsplits.table-wrapper
          %table.table.table-striped.black-table
            %thead
              %tr
                %th.left Member
                %th.left Role
                %th.left Share
                %th.action-column
            %tbody
              %tr{ ng: { repeat: "member in currentDeal.members | orderBy: 'name'"} }
                %td
                  {{ member.name }}
                %td
                  %span{ 'e-name': 'role', editable: { select: 'member.role' }, 'e-ng-options': 'role for role in memberRoles', onaftersave: 'updateDealMember(member)' }
                    {{ member.role }}
                %td
                  %span{ 'e-name': 'share', editable: { text: 'member.share' }, onaftersave: 'updateDealMember(member)' }
                    {{ member.share }}%
                %td.action-column.info-td
                  .empty
                %td.action-td
                  %a.delete-member{ href: '', ng: { click: 'deleteMember(member)' } }
                    = inline_svg 'icons/trash.svg'

    #info.col-xs-6.pull-right
      %h3.header Additional Info
      .well
        .row.field
          .col-xs-10
            .row
              .col-xs-4
                %h4.field-label Type
            .row
              .col-xs-9.field-value.deal-type{ 'e-id': 'deal-type', editable: { select: 'currentDeal.deal_type.option_id' }, 'e-ng-options': 'option.id as option.name for option in currentDeal.deal_type.options', onaftersave: 'updateDeal()' }
                {{ currentDeal.deal_type.option.name }}
        .row.field
          .col-xs-10
            .row
              .col-xs-4
                %h4.field-label Source
            .row
              .col-xs-9.field-value{ 'e-id': 'deal-source', editable: { select: 'currentDeal.source_type.option_id' }, 'e-ng-options': 'option.id as option.name for option in currentDeal.source_type.options', onaftersave: 'updateDeal()' }
                {{ currentDeal.source_type.option.name }}
        .row.field
          .col-xs-10
            .row
              .col-xs-4
                %h4.field-label Next Steps
            .row
              .col-xs-9.field-value{ 'e-name': 'next-steps', editable: { text: 'currentDeal.next_steps' }, onaftersave: 'updateDeal()' }
                {{ currentDeal.next_steps }}
        .row.field
          .col-xs-10
            .row
              .col-xs-4
                %h4.field-label Created
            .row
              .col-xs-9.field-value
                {{ currentDeal.creator.first_name }} {{ currentDeal.creator.last_name }} on {{ currentDeal.created_at | date: 'shortDate' }} @ {{ currentDeal.created_at | date: 'shortTime'}}
