.navbar#header.navbar-default{ ng: { controller: 'NavbarController' } }
  .navbar-inner
    .container-fluid
      .row
        .navbar-header
          %a#logo.navbar-brand{:href => root_path}
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'navbar-link'
          - else
            = link_to "Sign in", new_user_session_path, class: 'navbar-link'
          %starting-page
      .row
        %ul.nav.navbar-nav
          %li{ ng: { repeat: 'item in ::navbar | filter: ""', class: "{ active: isActive(item.url) }" }, dropdown: '{{::item.dropdown.length > 0}}' }
            %a{href: '', 'ng-if': '::!item.dropdown.length', 'ng-href': '{{::item.url}}'}
              {{::item.name}}
            %a{href: '', 'ng-if': '::item.dropdown.length', 'dropdown-toggle': true }
              {{::item.name}}
              %span.caret
            %ul.dropdown-menu{'ng-if': '::item.dropdown.length'}
              %li{'ng-repeat': 'item in ::item.dropdown | filter: "" | orderBy: "::name"'}
                %a{href: '', 'ng-href': '{{::item.url}}'}
                  {{::item.name}}


:javascript
  _gmail_extension_url = ("#{Setting.gmail_extension_url}");
  _gcalendar_extension_url = ("#{Setting.gcalendar_extension_url}");
  _isRequestsVisible = (#{current_user.company.requests_enabled && current_user.has_requests_access?});
  _isCompanyInfluencerEnabled = (#{current_user.company_influencer_enabled});
  _isPublisherEnabled = (#{current_user.company_publisher_enabled});
  _isGmailExtensionEnabled = (#{current_user.company.gmail_enabled});
  _isGcalendarExtensionEnabled = (#{current_user.company.gcalendar_enabled});
