.navbar#header.navbar-default{ ng: { controller: 'NavbarController' } }
  .navbar-inner
    .container
      .row
        .navbar-header
          %a#logo.navbar-brand{:href => root_path}
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign in", new_user_session_path
            \/
            = link_to "Sign up", new_user_registration_path
      .row
        %ul.nav.navbar-nav
          %li{ ng: { class: "{ active: isActive('/dashboard') }" } }
            = link_to "DASHBOARD", "/#dashboard"
          %li{ ng: { class: "{ active: isActive('/deals') }" } }
            = link_to "DEALS", "#"
          %li{ ng: { class: "{ active: isActive('/forecast') }" } }
            = link_to "FORECAST", "#"
          %li{ ng: { class: "{ active: isActive('/bookings') }" } }
            = link_to "BOOKINGS", "#"
          %li{ ng: { class: "{ active: isActive('/clients') }" } }
            = link_to "CLIENTS", "/#clients"
          %li{ ng: { class: "{ active: isActive('/people') }" } }
            = link_to "PEOPLE", "#"
          %li{ ng: { class: "{ active: isActive('/settings') }" } }
            = link_to "SETTINGS", "#"