.navbar#header.navbar-default{ ng: { controller: 'NavbarController' } }
  .navbar-inner
    .container-fluid
      .row
        .navbar-header
          %a#logo.navbar-brand{:href => root_path}
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'navbar-link'
          - else
            = link_to "Sign in", new_user_session_path, class: 'navbar-link'
          %starting-page
      .row
        %ul.nav.navbar-nav
          %li{ ng: { class: "{ active: isActive('/dashboard') }" } }
            = link_to "HOME PAGE", "/dashboard"
          %li{ ng: { class: "{ active: isActive('/deals') }" } }
            = link_to "DEALS", "/deals"
          %li{ ng: { class: "{ active: isActive('/forecast') }" } }
            = link_to "FORECAST", "/forecast"
          %li{ ng: { class: "{ active: isActive('/revenue') }" } }
            = link_to "REVENUE", "/revenue"
          %li{ ng: { class: "{ active: isActive('/clients') }" } }
            = link_to "ACCOUNTS", "/clients"
          %li{ ng: { class: "{ active: isActive('/contacts') }" } }
            = link_to "CONTACTS", "/contacts"
          %li{ ng: { class: "{ active: isActive('/bp') }" } }
            = link_to "BUSINESS PLAN", "/bp"
          - if current_user.leader?
            %li{ ng: { class: "{ active: isActive('/reports') }" }, dropdown: true }
              %a{ href: '', 'dropdown-toggle': true }
                REPORTS
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "Pipeline by User", "/reports/deal_reports"
                %li
                  = link_to "Activity Detail", "/reports/activity_detail_reports"
                %li
                  = link_to "Activity Summary", "/reports/activity_summary"
                %li
                  = link_to "Forecast Detail - Annual", "/reports/forecasts"
                %li
                  = link_to "Pipeline Change Report", "/reports/pipeline_changes_report"
          - else
            %li{ ng: { class: "{ active: isActive('/reports') }" }, dropdown: true }
              %a{ href: '', 'dropdown-toggle': true }
                REPORTS
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "Pipeline by User", "/reports/deal_reports"
                %li
                  = link_to "Activity Detail", "/reports/activity_detail_reports"
                %li
                  = link_to "Activity Summary", "/reports/activity_summary"
          - if current_user.leader?
            %li{ ng: { class: "{ active: isActive('/smart_reports') }" }, dropdown: true }
              %a{ href: '', 'dropdown-toggle': true }
                SMART INSIGHTS
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "Sales Execution Dashboard", "/smart_reports/sales_execution_dashboard"
                %li
                  = link_to "Monthly Forecast", "/smart_reports/monthly_forecasts"
                %li
                  = link_to "Where to Pitch", "/smart_reports/where_to_pitch"
                %li
                  = link_to "KPI Analytics", "/smart_reports/kpi_analytics"
                %li
                  = link_to "Inactives", "/smart_reports/inactives"
          - else
            %li{ ng: { class: "{ active: isActive('/smart_reports') }" }, dropdown: true }
              %a{ href: '', 'dropdown-toggle': true }
                SMART INSIGHTS
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "Sales Execution Dashboard", "/smart_reports/sales_execution_dashboard"
                %li
                  = link_to "Monthly Forecast", "/smart_reports/monthly_forecasts"
                %li
                  = link_to "Where to Pitch", "/smart_reports/where_to_pitch"
                %li
                  = link_to "KPI Analytics", "/smart_reports/kpi_analytics"
                %li
                  = link_to "Inactives", "/smart_reports/inactives"
          - if current_user.is?(:admin) || current_user.is?(:superadmin)
            %li{ ng: { class: "{ active: isActive('/settings') }" }, dropdown: true }
              %a{ href: '', 'dropdown-toggle': true }
                SETTINGS
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "General Settings", "/settings/general"
                %li
                  = link_to "Smart Insights", "/settings/smart_insights"
                %li
                  = link_to "Products", "/settings/products"
                %li
                  = link_to "Teams", "/settings/teams"
                %li
                  = link_to "Users", "/settings/users"
                %li
                  = link_to "Custom Fields", "/settings/custom_fields"
                %li
                  = link_to "Custom Values", "/settings/custom_values"
                %li
                  = link_to "Time Periods", "/settings/time_periods"
                %li
                  = link_to "Data Import/Export", "/settings/data_import"
                %li
                  = link_to "Quotas", "/settings/quotas"
                %li
                  = link_to "Stages", "/settings/stages"
                %li
                  = link_to "Business Plans", "/settings/bps"
                %li
                  = link_to "Notifications", "/settings/notifications"
                - if current_user.is?(:superadmin)
                  %li
                    = link_to " ", "/settings/tools"
