.navbar#header.navbar-default{ ng: { controller: 'NavbarController' } }
  .navbar-inner
    .container
      .row
        .navbar-header
          %a#logo.navbar-brand{:href => root_path}
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'navbar-link'
          - else
            = link_to "Sign in", new_user_session_path, class: 'navbar-link'
      .row
        %ul.nav.navbar-nav
          %li{ ng: { class: "{ active: isActive('/dashboard') }" } }
            = link_to "DASHBOARD", "/dashboard"
          %li{ ng: { class: "{ active: isActive('/deals') }" } }
            = link_to "DEALS", "/deals"
          %li{ ng: { class: "{ active: isActive('/forecast') }" } }
            = link_to "FORECAST", "/forecast"
          %li{ ng: { class: "{ active: isActive('/revenue') }" } }
            = link_to "REVENUE", "/revenue"
          %li{ ng: { class: "{ active: isActive('/clients') }" } }
            = link_to "CLIENTS", "/clients"
          %li{ ng: { class: "{ active: isActive('/people') }" } }
            = link_to "PEOPLE", "/people"
          - if current_user.is?(:admin) || current_user.is?(:superadmin)
            %li{ ng: { class: "{ active: isActive('/settings') }" }, dropdown: true }
              %a{ href: '', 'dropdown-toggle': true }
                SETTINGS
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "General Settings", "/settings/general"
                %li
                  = link_to "Products", "/settings/products"
                %li
                  = link_to "Teams", "/settings/teams"
                %li
                  = link_to "Users", "/settings/users"
                %li
                  = link_to "Custom Values", "/settings/custom_values"
                %li
                  = link_to "Time Periods", "/settings/time_periods"
                %li
                  = link_to "Quotas", "/settings/quotas"
                %li
                  = link_to "Stages", "/settings/stages"
