!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title boostr
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/favicon'
    %base{ href: "/" }

  %body{ ng: { app: "Boostr" } }
    :javascript
      transloaditTemplates = #{TRANSLOADIT_TEMPLATES.to_json}
    :javascript
      userType = parseInt('#{current_user.user_type }')
    - if current_user.leader?
      :javascript
        currentUserIsLeader = true
    - else
      :javascript
        currentUserIsLeader = false
    :javascript
      currentUserRoles = #{current_user.roles}
      companyEgnyteSettings = #{current_user.company.egnyte_integration.to_json}
    %header.ng-cloak
      - if content_for? :nav
        = yield :nav
      - else
        = render 'layouts/nav'
    :javascript
      (function(t,a,l,k,u,s,e){if(!t[u]){t[u]=function(){(t[u].q=t[u].q||[]).push(arguments)},t[u].l=1*new Date();s=a.createElement(l),e=a.getElementsByTagName(l)[0];s.async=1;s.src=k;e.parentNode.insertBefore(s,e)}})(window,document,'script','//www.talkus.io/plugin.beta.js','talkus');
      if(location.hostname!='localhost' && location.hostname!='127.0.0.1') {
        talkus('init', 'qu346HQax2ut3MQr4');
      }
    = yield
