!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Boostr
    = stylesheet_link_tag    'devise', media: 'all'
    = javascript_include_tag  'devise'
    = csrf_meta_tags
    %base{ href: "/" }

  %body

    .container
      = flash_messages
      = yield
